.background-landing::before {
    content: '';
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
    height: 100%;
    overflow: auto;
    left: 0;
    background: url('../assets/images/index/bg.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
};
.background-landing::before {
    content: '';
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;;
    height: 100%;
    overflow: auto;
    left: 0;
    background: url('../assets/images/index/bg.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
  }